.drop-header {
  border-color: #e4e7eb;
  border-radius: 6px;
  color: #212529;
  font-size: 14px;
  background-color: #e4e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.375rem 0.75rem;
}

.drop-content {
  background-color: white;
  box-shadow: 4px 3px 6px -1px rgb(0 0 0 / 20%);
  border-style: solid;
  border-width: 0.5px;
  border-color: #0000002e;
  margin-top: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  max-height: 200px;
  border-radius: 6px;
  position: absolute;
  width: calc(158px * 1.5) !important;
  overflow-y: auto;
}

.content-seleted {
  border-color: #e4e7eb;
  background-color: #e4e7eb;
  font-weight: 600;
  font-size: 14px;
  padding: 4px;
  padding-left: 24px;
}

.content-seleted:hover {
  color: white;
  background-color: #01b4e4;
}

.conent-list {
  color: #212529;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 4px;
  padding-left: 24px;
  font-size: 14px;
font-weight: 300;
}

.conent-list:hover {
  background-color: #e4e7eb6d;
}

.drop {
  width: calc(200px * 1.5) !important;
}
