.scroll-view {
  display: flex;
  align-items: flex-start;
  overflow-x: scroll;
  width: 100%;
  padding-bottom: 20px;
}

.scroller_wrap {
  position: relative;
  top: 0;
  left: 0;
}

.scroller_wrap.should_fade.is_fading:after {
  transition: linear 0.3s;
  opacity: 1;
}

.scroller_wrap.should_fade:after {
  content: '';
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, #fff 100%);
  will-change: opacity;
  pointer-events: none;
}

.scroller_wrap.should_fade.is_fading::before {
  transition: linear 0.3s;
  opacity: 1;
}

.scroller_wrap.should_fade::before {
  content: '';
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to left, rgba(255,255,255,0) 0%, rgb(255, 255, 255) 100%);
  will-change: opacity;
  pointer-events: none;
}


.scroll-view:first-child{
  padding-left: 50px;
}

/* 

.row >  .scroll-view-container > .scroll-view::after{
  content: '';
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, red 100%);
  will-change: opacity;
  pointer-events: none;
} */


.scroll-view::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scroll-view::-webkit-scrollbar-thumb {
  background-color: rgba(219, 219, 219, 1);
  border-radius: 20px;
}

.scroll-view::-webkit-scrollbar-track {
  background: #fff;
}

.header {
  display: flex;
  align-items: center;
  padding-left: 4em !important;
}

.header h2{
  font-size: 1.5em;
  font-weight: 600;
}