.singup-pointer {
  list-style: "👍";
  list-style-position: outside !important;
  display: flex;
  flex-direction: column;
}

.signup-point {
  margin-left: -20px;
  margin-top: -6px;
  width: 1.2em;
  height: 1.2em;
}

.singup-pointer li {
  width: 100%;
  padding: 10px 20px;
  font-size: 1em;
  line-height: 1.4em;
  margin: 0;
}

.alertView {
  position: fixed;
  margin: 30px;
  right: 0;
}