.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-btn {
  background-color: transparent !important;
  color: #000 !important;
}

.route-body {
  padding-bottom: 30px;
  display: flex;
  flex: 1 1 auto;
  min-height: 80vh;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
  justify-content: center;
}

.split-container {
  padding-top: 20px;
  display: flex;
  width: 100%;

}

.split-container > .left-pannel {
  max-width: 260px;
  width: 260px;
}

.split-container > .right-pannel {
  width: 100%;
  margin-left: 2em;
}

.container-with-header {
  border: 1px solid rgba(var(--lightGrey), 1);
  height: fit-content;
  border-radius: 10px;
  width: 260px;
}

.container-with-header > .header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(var(--accountLightBlue));
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin: 0;
  padding: 20px !important;
  color: #fff;
}

.container-with-header > .header > h3 {
  font-weight: 600 !important;
  font-size: 20px;
}

.container-with-header > .container-body {
  padding: 10px 0px;
}
.content {
  max-width: var(--maxPrimaryPageWidth);
  width: 100%;
  padding-left: 40px !important;
  padding-right: 40px !important;
  padding-top: 0 !important;
  padding-bottom: 0;
}

.content-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}